<table class="w-full bg-white">
  <tr>
    <td class="text-center p-6">
      <h3 class="text-lg font-semibold">Sint cupidatat occaecat ut</h3>
    </td>
  </tr>
  <tr>
    <td>
      <table class="w-full">
        <tr>
          <td class="w-1/2 p-4">
            <div class="bg-gray-100 p-4 text-center rounded">
              <div class="bg-gray-300 h-20 w-20 mx-auto rounded-full"></div>
              <h4 class="mt-4 text-lg font-semibold">Nisi ut ade</h4>
              <p class="text-gray-600 mt-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </td>
          <td class="w-1/2 p-4">
            <div class="bg-gray-100 p-4 text-center rounded">
              <div class="bg-gray-300 h-20 w-20 mx-auto rounded-full"></div>
              <h4 class="mt-4 text-lg font-semibold">Duis aute irure</h4>
              <p class="text-gray-600 mt-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
